.prettylist {
  position: absolute;
  height: 100%;
  width: 100%;

  &-item {
    position: absolute;
    
    --top: 0%;
    --left: 0%;
    --rotation: 0deg;
    --opacity: 1;

    transform: translateY(calc(var(--top) - 50%)) translateX(calc(var(--left) - 50%)) rotate(var(--rotation));
    opacity: var(--opacity);

    transition: opacity 1s;

    &.hidden {
      opacity: 0;
      visibility: none;
    }
  }
}